.wd-flex-navbar {
    width: 85px;
    background-color: black;
    height: 100%;
    position: fixed;
}

.wd-flex-navbar ul {
    padding-left: 0px;
}

.wd-flex-navbar li {
    list-style: none;
    text-align: center;
}

.wd-flex-navbar li img {
    background-color: black;
    height:40px; 
    width:50px;
}

.wd-main-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.wd-flex-navbar a {
    text-decoration: none;
    font-size: small;
}

html,
body {
    height: 100%;
}


.wd-bg-white {
    background-color: white;
}

.wd-bg-grey {
    color: grey;
}

.wd-bg-red {
    color: red;
}

.wd-fg-red {
    color: red;
}

.wd-fg-white {
    color: white;
}

/* .wd-home-nav-icon {
    margin-bottom: 5px;
} */

.wd-home-nav-text {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.wd-flex-navbar .wd-home-nav-active {
    background-color: white;
}

.wd-flex-navbar .wd-home-nav-active a {
    color: red;
}

.wd-dashboard-screen {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    left: 75px;
}

.card {
    width: 270px;
    height: 300px;
}

.col {
    margin-bottom: 30px;
}

.wd-dashboard-screen {
    margin-left: 20px;
    margin-top: 10px;
}

.wd-dashboard-header {
    font-size: x-large;
    color:grey;
}

.wd-dashboard-published-courses {
    margin-left: 10px;
    
}

.row .col a {
    text-decoration: none;
}

.card .card-body .card-title {
    color: #0066ff;
}
.wd-dashboard-body div.card{
    width: 250px;
    height: 500px;
}
.wd-dashboard-body{
    margin-left: 3%;
}
.wd-dashboard-body div.card-footer{
    border:0;
    background-color:white;
}
.wd-dashboard-body div.card-footer i:hover{
    color: #c11515;
}
.wd-dashboard-body div.row{
    width: 80%;
}
.wd-dashboard-body div.col{
    width: 300px;
}

.wd-general-content{
    flex: 0.99;
}

.wd-general-content-body{
    display: flex;
    flex: 1;
    margin-left: 100px;
}

.wd-general-header i{
    margin-right: 50px;
}

.wd-color-grey{
    color:#898b90;
}

.card-title{
    font-weight: 550;
    font-size: medium;
}
.card-body a{
    text-decoration: none;
}
.card-body a:hover{
    text-decoration: underline;
}

.wd-dashboard-body div.card{
    width: 250px;
    height: 300px;
}
.wd-dashboard-body{
    margin-left: 3%;
}
.wd-dashboard-body div.card-footer{
    border:0;
}
.wd-dashboard-body div.card-footer i:hover{
    color: #c11515;
}
.wd-dashboard-body div.row{
    width: 80%;
}
.wd-dashboard-body div.col{
    width: 300px;
}
.wd-color-light-grey{
    color:#b7c1d1;
}

